/*                  _      _       _                                              _       
                   | |    | |     | |                                            | |      
 _ __  _ __ ___  __| | ___| | __ _| |_    ___ ___  _ __ ___  _ __ ___   ___ _ __ | |_ ___ 
| '_ \| '__/ _ \/ _` |/ _ \ |/ _` | __|  / __/ _ \| '_ ` _ \| '_ ` _ \ / _ \ '_ \| __/ __|
| |_) | | |  __/ (_| |  __/ | (_| | |_  | (_| (_) | | | | | | | | | | |  __/ | | | |_\__ \
| .__/|_|  \___|\__,_|\___|_|\__,_|\__|  \___\___/|_| |_| |_|_| |_| |_|\___|_| |_|\__|___/
| |                                                                                       
|_| 

*/

*{
    padding: 0;
    margin: 0;


}


html {
    scroll-behavior: smooth;
    height: 100%;

}


body {
    /*font-family: ''; */
    font-size: 12pt;
    background-color: var(--seda);
    -ms-overflow-style: none;
    scrollbar-width: none;
}

body::-webkit-scrollbar {
    display: none;

}


a {
    text-decoration: none;
    }


p{
    color: white;


}    
/*Header / Navigace*/
header nav{
    display: flex;
    width: 100%;
    padding: 1em 0 1em 0;
    background-color: var(--skoro-cerna);
    box-shadow:  0px 5px var(--svetle-modra);
    margin: 0 0 5px 0;
}
.header-logo{
    display: flex;
    flex-direction: row;
    padding: 0 0 0 1em;
}
.header-logo img{
    height: 100px;


}

.header-pages{
    list-style: none;
    position: relative;
    width: 100%;
    list-style: none;
    display: flex;
    justify-content: flex-end;
    padding-top: 1em;

}
.header-pages li{
    display: inline-block;
    padding: 0 1em 0 0;
    
}

.header-pages li a{
color: var(--svetle-seda);
text-align: center;
}


.header-pages li a img{
    height: 40px;
    width: 40px;
    padding: 10px 35px 10px 35px;
    background-color: var(--seda);
    border-radius: 10px;

}

/*MAIN*/


.clanek:first-child{
    padding: 50px 100px 50px 100px;
    
}
    
.clanek{
    padding: 0 100px 50px 100px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows:  1fr 3fr 1fr;
    column-gap: 5vw;

}

.clanek-lichy h2{
    grid-column: 1/2;
    grid-row: 1/2;

}

.clanek-lichy p{
    grid-column: 1/2;
    grid-row: 2/4;
    margin-bottom: 3em;

}

.clanek-lichy img{
    width: 45vw;
    grid-column: 2/3;
    grid-row: 1/6;

}

.clanek-odavinci div.download{
    grid-column: 1/2;
    grid-row: 4/5;
    margin-bottom:  1em ;
    font-size: 20px;

 }

.clanek-odavinci .download-link{
    color: white;
    background-color: var(--svetle-modra);
    padding: 1em;
    border-radius: 50px;

}

.clanek-sudy h2{
    grid-column: 2/3;
    grid-row: 1/2;

}

.clanek-sudy p{
    grid-column: 2/3;
    grid-row: 2/4;
    margin-bottom: 3em;

}

.clanek-sudy img{
    width: 45vw;
    grid-column: 1/2;
    grid-row: 1/6;

}


/*NOT MAIN(cut)*/

h1{
    text-align: center;


}

iframe{
    margin: auto;

}

.panels-page *{
    display: flex;
    justify-content: center;
    flex-direction: column;


}